body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: red;
    font-size: 90px;
    font-family: "impact", Helvetica, sans-serif;
}

p.first {
    color: green;
}

p.second {
    color: blue;
}